.home {
    .row {
      .right-content {
        .row {
          .col-6 {
            .body {
              border-radius: 20px !important;
              padding: 20px;
              font-size: 14px;
              color: var(--text-color);
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
          }
        }
      }
    }
  }
  